<h1 style="color: blueviolet;">
    <%- title  %> 
</h1>

<span> <%= min + "-----> " %> </span>
<meter style="width:50%; height: 20px; margin:20px auto;" value="<%= nivel %>" min=" <%= min %> " max="<%= max %>"></meter>
<span> <%= " <-----" + max %> </span>

<!-- profe 
<h1 style="color:brown"><%- title %></h1>

<span><%= min+" -----> " %></span>
<meter style="width:50%; height:20px;margin:20px auto;" value="<%= nivel %>" min="<%= min %>" max="<%= max %>"></meter>
<span><%= " <----- "+max %> </span>
-->